.App {
  text-align: center;
  margin-bottom: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Ads {
  width: 50%;
  margin: 50px auto;

}
.Ads_item:hover {
   border: 1px solid blue;
}
.Ads  a:hover {
text-decoration: none;
}
.Login {
  width: 50%;
  margin: 0 auto;
}
.Login a{
  display: block;
} 

.Create {
  display: block;
  margin-top: 50px;
  background-color: blue;
  color: white;
  height: 50px;
  border-radius: 15%;
  padding-top: 15px;
 
}
.Create:hover {
  text-decoration: none;
  color: white;
}
.CreateAds button{
  margin: 50px;
}
.Adsmall {
  width: 50%;
  border: 1px blue solid;
  margin: 100px auto;
  overflow-wrap: break-word;
  padding: 20px;
}
.Adsmall p {
   width: 100%;
   margin: 20px auto
}


.Ad a {
  display: block;
  margin-top: 300px;
  font-size: 30px;
}